

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>The means to an end.. of all my free time...</p>
        <p><%= link_to "My Blog", {controller: "articles", action: "index"}, class: "btn btn-primary btn-lg" %></p>
      </div>


