<% if user_signed_in? %>
  <li>Welcome <%= current_user.email %></li>
  <li><%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li>You are not signed in.</li>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>